@font-face {
	font-family: "nanum";
	src : url("../fonts/NANUMMYEONGJO-YETHANGUL.TTF");
}

.container{
    width: 1300vw;
    transition-delay: 0.5s;
    display: flex;
}
.outer{
    width:100vw;
    text-align: -webkit-center;
}

button {
    margin-bottom: 25px;
    background-color: white;
    color: black;
    font-size: 23px;
    border-style: hidden;
    width: 462px;
    height: 72px;
}
.question {
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
#question{
    position: relative;
    top: 20%;
    left: 5%;
    /* �Ʒ��������ʹ� ũ�� ����, color�� ���� ������ */
    width: 500px;
    height: 150px;
    color: #f6f6f6;
}

.answer {
    position: relative;
    top: 25%;
}

.inner{
    /* ������ ����, ũ�� ���� ��ġ ���� */
        /* height: 100%; */
        background-color: #874034;
        height: 550px;
        width: 550px;
        text-align: center;
        border-radius: 10%;
        margin-top: 21vh;
}
#fbti{
	background-color: #874034;
	color: #874034;
}
